@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');

body{
    font-family: 'Times New Roman';
}

.menu-bar {
    background-image: linear-gradient(-100deg, #f9f0b6, #bc8531, #f9f0b6, #9c672a, #f9f0b6, #ca9b42);
    width: 100%;
}

.justificando p{
    text-align: justify;
    font-size: 18px;
   
}

/*  Card Profile  */

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .card .image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 3px;
    background: #ca9b42;
}

section .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    /*border: 3px solid #fff;*/
}

.card{
    position: relative;
    background: #fff;
    border-radius: 20px;
    margin: 10px 20px;
    flex-direction: column;
    width: 12px;
    flex: 1 1 21rem;
    padding: 10px 20px;
    align-self: normal;
    border: none;
}

.card::before{
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: #ca9b42;
    border-radius: 20px 20px 0 0
}

.card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}

.card .media-icons{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .media-icons i{
    color: #fff;
    opacity: 0.7;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card .media-icons i:hover{
    opacity: 1;
}

.card .organizado{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    color: #333;
}

.organizado .name{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.organizado .profession{
    text-align: justify;
    font-size: 17px;
    font-weight: 500;
}

.organizado .mail{
    font-size: 17px;
    font-weight: 500;
}

.organizado .mail i{
    font-size: 17px;
    color: #ca9b42;
    opacity: 0.7;
    padding-right: 10px;
}

.organizado .phone{
    font-size: 17px;
    font-weight: 500;
}

.organizado .phone i{
    color: #ca9b42;
    opacity: 0.7;
    padding-right: 10px;
}

/*  Ler Mais e Menos  */
.morecontent span {
    display: none;
}

.morelink {
    display: block;
    color: #ca9b42;
}

/*  responsivo  */
@media (max-width: 690px){
    .banner {
      height: 510px;
    }

    .bannerhome {
        height: 90%;
    }
}
